*{
	outline: 0;
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: 'Roboto Slab', serif;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] {
    -moz-appearance:textfield;
}

html,body,#root{
	width: 100%;
}
.red_btn{
	color: #fff;
	background: #e07979;
}
.red_btn:hover{
	background: #e88989;
}
.red_btn:active{
	background: #bf6363;
}
#root{
	display: flex;
	flex-direction: row;
}
/*left area*/
#left{
	width: 60%;
	min-width: 760px;
	height: 100vh;
}
#left h2{
	height: 40px;
	line-height: 40px;
	color: #fff;
	padding: 0 0 0 20px;
	background: #26324a;
}
.block{
	padding: 8px 10px;
	height: 18px;
	background: #4be6ce;
	color: #000;
	border-radius: 5px;
	font-size: 12px;
	text-align: center;
	font-family: 'Roboto Slab', serif;
	transition: all .3s ease;
	cursor: pointer;
}
.clickable{
	background: #62beff;
}
#catgory{
	width: 580px;
	margin: 0 auto;
	padding: 40px 0 0 0;
}
#level1{
	height: 60px;
	display: grid; 
	grid-template-columns: auto 140px auto;
	justify-items: center;
	align-items: center;
}
#level1 .block{
	grid-column: 2;
	grid-row: 1;
}
#level2 .block:hover{
	background: #8de8f8;
}
#level2{
	height: 60px;
	display: grid;
	justify-items: center;
	align-items: center;
}
#level2 .block{
	grid-column: auto;
	grid-row: 1; 
}
.level3{
	height: 60px;
	display: grid;
	justify-items: center;
	align-items: center;
}
.level3 .block{
	grid-column: auto;
	grid-row: 1;
}

.level4{
	height: 60px;
	display: grid;
	justify-items: center;
	align-items: center;
}
.level4 .block{
	grid-row: 1;
}
#frozen_food .level4{
	grid-template-columns: 130px 100px 100px 80px 80px; 
}
#frozen_food .level4 .block:nth-child(1){
	grid-column-start: 2;
}
#frozen_food .level4 .block:nth-child(2){
	grid-column-start: 3;
}
#frozen_food .level4 .block:nth-child(3){
	grid-column-start: 5;
}
#frozen_food .level4 .block:nth-child(4){
	grid-column-start: 6;
}
#fresh_food .level3 .block:nth-child(1),
#fresh_food .level3 .block:nth-child(2),
#fresh_food .level3 .block:nth-child(3){
	height: 34px;
}
#fresh_food .level4{
	grid-template-columns: 120px 100px 100px auto; 
}
#beverages .level3{
	grid-template-columns: 100px 120px 140px 160px auto;
}
#beverages .level3 .block:nth-child(1){
	grid-column-start: 2;
}
#beverages .level3 .block:nth-child(2){
	grid-column-start: 3;
}
#beverages .level3 .block:nth-child(3){
	grid-column-start: 4;
}
#beverages .level4{
	grid-template-columns: 30px 80px 110px 80px 90px 90px;
}
#beverages .level4 .block:nth-child(1){
	grid-column-start: 2;
}
#beverages .level4 .block:nth-child(2){
	grid-column-start: 3;
}
#beverages .level4 .block:nth-child(3){
	grid-column-start: 4;
}
#beverages .level4 .block:nth-child(4){
	grid-column-start: 5;
}
#beverages .level4 .block:nth-child(5){
	grid-column-start: 6;
}
#home_health .level4{
	grid-template-columns: 60px 70px 80px 60px 120px 120px;
}
#home_health .level4 .block:nth-child(1){
	grid-column-start: 2;
}
#home_health .level4 .block:nth-child(2){
	grid-column-start: 3;
}
#home_health .level4 .block:nth-child(3){
	grid-column-start: 5;
}
#home_health .level4 .block:nth-child(4){
	grid-column-start: 6;
}
#pet_food .level3{
	width: 400px;
	margin: 0 auto;
}
#pet_food .level4{
	grid-template-columns: 240px 100px 80px 60px 120px 120px;
}
#pet_food .level4 .block:nth-child(1){
	grid-column-start: 2;
}
#pet_food .level4 .block:nth-child(2){
	grid-column-start: 3;
}
#frozen_food,
#fresh_food,
#beverages,
#home_health,
#pet_food{
	display: none;
}

#frozen_food.active,
#fresh_food.active,
#beverages.active,
#home_health.active,
#pet_food.active{
	display: contents;
}
/*right area*/
#right{
	width: 40%;
	min-width: 550px;
	background: #f1f1f1;
}
/*product_detail area*/
#top{
	width:100%;
	padding: 0 0 20px 0;
}
#top h2{
	height: 40px;
	line-height: 40px;
	color: #fff;
	padding: 0 0 0 20px;
	background: #32415f;
}
#product_detail{
	padding: 20px;
	display: grid;
	grid-template-rows: 160px 70px;
}
#no_product_info{
	padding: 70px 0;
	text-align: center;
}
#no_product_info i{
	font-size: 60px;
	color: #bfbfbf;
}
#no_product_info p{
	color: #bfbfbf;
}
#product_info{
	display: grid;
	grid-template-columns: 180px 340px;
	grid-template-rows: 40px 100px;
}
#product_detail img{
	width: 180px;
	height: 180px;
	grid-column: 1;
	grid-row: 1/ last-line;
	border-radius: 5px;
	box-shadow: 0px 0px 7px -3px #000000d4;
}
#product_detail h3{
	grid-column: 2;
	grid-row: 1;
	padding: 0 0 0 20px;
}
#product_detail dl.info{
	display: grid;
	grid-template-columns: 140px 170px;
	grid-template-rows: 40px 40px 40px;
}
#product_detail dt{
	grid-column: 1;
	margin: 0 0 0 20px;
	line-height: 40px;
	font-size: 14px;
	border-bottom: 1px #ddd solid;
}
#product_detail dd{
	grid-column: 2;
	line-height: 40px;
	padding: 0 0 0 10px;
	font-size: 20px;
	color: #bb482e;
	border-bottom: 1px #ddd solid;
}
#product_detail #quantity_button{
	display: grid;
	grid-template-columns: 30px 56px 30px;
	grid-template-rows: 30px 40px;
	padding: 0 0 0 200px;
}
#product_detail #quantity_button p{
	grid-row: 1;
	line-height: 40px;
	font-size: 14px;
}
#product_detail #quantity_button a{
	width: 26px;
	height: 26px;
	text-align: center;
	line-height: 26px;
	place-self: center;
	grid-row: 2;
	background: #42ccb5;
	border-radius: 5px;
	cursor: pointer;
}
#product_detail #quantity_button input{
	width: 40px;
	height: 16px;
	padding: 4px 0;
	border-radius: 5px;
	border: 1px #ccc solid;
	font-size: 14px;
	color: #666;
	text-align: center;
	place-self: center;
	grid-row: 2;
}
#product_detail #quantity_button i{
	color: #fff;
	font-size: 18px;
}
#product_detail #quantity_button a:active{
	transform: scale(0.9);
	background: #39bba5;
}
#add_to_cart a{
	display: block;
	margin: 10px 0 0 200px;
	width: 134px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #42ccb5;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
}
#bottom{
	width: 100%;
}
#bottom h2{
	height: 40px;
	line-height: 40px;
	color: #fff;
	padding: 0 0 0 20px;
	background: #32415f;
}
#cart_table_box{
	max-height: 240px;
	overflow-y: auto;
}
#cart_table{
	width: 100%;
	border-collapse: collapse;
}
#cart_table tr{
	border-top: none;
}
#cart_table th{
	height: 30px;
	/*border-right: 2px #fff solid;*/
	font-size: 14px;
	color: #fff;
	background: #42ccb5;
}
#cart_table th:nth-child(5){
	border-right: none;
}
#cart_table td{
	height: 26px;
	text-align: center;
	font-size: 13px;
	line-height: 24px;
	color: #3a5766;
	background: #f0f1f5;
	border-bottom: 1px #d9e4e8 solid;
}
#bottom .button_box{
	display: grid;
	justify-content: end;
	grid-template-columns: 300px 120px 120px;
	grid-template-rows: 80px;
}
#bottom .button_box a{
	cursor: pointer;
}
#confirm_clear{
	position: relative;
	visibility: hidden;
	place-self: center;
	width: 280px;
	height: 60px;
	border-radius: 5px;
	text-align: center;
	background: #e69f9f;
	transition: all .2s ease;
	opacity: 0;
	transform: translate(40px, 0) scale(0.8);
}
#confirm_clear.active{
	visibility: visible;
	opacity: 1;
	transform: translate(0, 0) scale(1);
}
#confirm_clear p{
	color: #522b2b;
	font-size: 13px;
	text-align: center;
	padding: 8px 0 2px 0;
}
#confirm_clear a{
	display: inline-block;
	padding: 2px 22px 4px;
	margin: 0 4px;
	background: #fcfdff;
	border-radius: 3px;
}
#confirm_clear a:active{
	background: #eee;
}
#confirm_clear i{
	position: absolute;
	right: -9px;
	top: 22px;
	z-index: 2;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 9px 0 9px 9px;
	border-color: transparent transparent transparent #e69f9f;
}
#clear_cart{
	width: 80px;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	color: #fff;
	text-align: center;
	grid-column-start: 2;
	place-self: center;
	background: #aaa;
	border-radius: 5px;
}
#check_out{
	width: 100px;
	height: 38px;
	line-height: 38px;
	font-size: 14px;
	text-align: center;
	grid-column-start: 3;
	place-self: center;
	border-radius: 5px;
}

/*pop up box*/
#pop_layer{
	visibility: hidden;
	position: fixed;
	z-index: 10;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.35);
}
#pop_layer.active{
	visibility: visible;
}
#checkout_box{
	display: grid;
	grid-template-columns: 500px 299px;
	position: absolute;
	left: 50%;
	top: 10%;
	z-index: 100;
	width: 800px;
	height: 420px;
	margin: 0 0 0 -400px;
	padding: 40px 20px;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0px 0px 7px -3px #000000d4;
}
#checkout_box .close{
	position: absolute;
	right: 12px;
	top: 12px;
	z-index: 101;
	font-size: 14px;
	line-height: 20px;
	width: 20px;
	height: 20px;
	border-radius: 3px;
	text-align: center;
}
#checkout_box i{
	transition: all .3s ease;
}
#checkout_box .close:hover i{
	transform: rotate(360deg);
}
#order_list_box{
	grid-column: 1;
	width: 480px;
	padding: 0 20px 0 0;
}
#order_list_box h3{
	padding: 0 0 10px 0;
  font-family: 'Tangerine', cursive;
  font-size: 42px;
  font-weight: lighter;
  color: #2451b1;
}
#order_list{
	max-height: 260px;
	overflow-y: auto;
}
#order_list table{
	width: 100%;
	border-collapse: collapse;
}
#order_list th{
	text-align: left;
	font-size: 14px;
	padding: 0 0 5px 0 ;
}
#order_list td{
	padding: 2px 0;
	font-size: 13px;
	border-bottom: 1px #ddd dashed;
}
#total_price{
	padding: 30px 0 0 0;
}
#total_price p{
	text-align: right;
	padding: 0 20px 0 0;
}
#total_price strong{
	display: block;
	text-align: right;
	padding: 0 20px 0 0;
	color: #da5d5d;
	font-size: 32px;
}

#user_form{
	grid-column: 2;
	width: 279px;
	height: 420px;
	padding: 0 0 0 20px;
	border-left: 1px #ddd solid;
}
#user_form h3{
  font-size: 24px;
  color: #42ccb5;
}
#user_form .info{
	font-size: 12px;
	color: #999;
	padding: 0 0 10px 0;
}
#user_form .row{
	margin: 0 0 10px 0;
}
#user_form input{
	font-size: 14px;
	padding: 6px 0 6px 5px;
	border: 1px #ccc solid;
	border-radius: 3px;
	transition: border box-shadow .3s ease;
}
#user_form input:focus{
	border: 1px #42ccb5 solid;
	box-shadow: 0 0 3px 0px #42ccb5;
}
#user_form .row:nth-child(1) input{
	width: 120px;
}
#user_form .row:nth-child(2) input{
	width: 240px;
}
#user_form .row:nth-child(3) input{
	width: 100px;
}
#user_form .row:nth-child(4) input{
	width: 150px;
}
#user_form .row:nth-child(5) input{
	width: 100px;
}
#user_form .row:nth-child(6) input{
	width: 220px;
}

#user_form .warning{
	visibility: hidden;
	font-size: 16px;
	color: #f00;
}
#user_form .warning.active{
	visibility: visible;
}
#user_form #purchase_button{
	display: inline-block;
	padding:10px 80px;
	margin: 30px 0 0 0;
	border-radius: 3px;
	cursor: pointer;
}


#warning{
	visibility: hidden;
	opacity: 0;
	position: fixed;
	top: 50px;
	left: 50%;
	margin: 0 0 0 -190px;
	width: 380px;
	height: 40px;
	text-align: center;
	background: #ff9;
	border: 1px #dfe07f solid;
	border-radius: 5px;
	transition: all .3s ease;
	transform: translateY(0);
}
#warning.active{
	visibility: visible;
	opacity: 1;
	transform: translateY(10px);
}
#warning p{
	color: #5a5a17;
	height: 40px;
	line-height: 40px;
}
#warning p i{
	margin: 0 3px;
}
#warning p strong{
	font-weight: normal;
}

#success_lay{
	visibility: hidden;
	position: fixed;
	left: 50%;
	top: 10%;
	margin: 0 0 0 -250px;
	z-index: 50;
	width: 500px;
	height: 300px;
	border-radius: 5px;
	background: #fff;
	box-shadow: 0px 0px 7px -3px #000000d4;
}
#success_lay.active{
	visibility: visible;
}
#success_lay h4{
	text-align: center;
	padding: 20px 0 0 0;
}
#success_lay h4 img{
	width: 200px;
}
#success_lay h5{
	text-align: center;
	font-size: 24px;
	color: #31415f;
}
#success_lay h6{
	text-align: center;
	font-size: 12px;
}
#success_lay span{
	margin: 20px auto;
	display: block;
	width: 100px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border-radius: 5px;
	font-size: 20px;
	color: #fff;
	background: #42ccb4;
	cursor: pointer;
}
#success_lay span:active{
	background: #46c1ae;
}